
body {
    background-color: #673AB7;
    color: white;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: .5em;
    margin-top: .5em;
    padding: 1em;
    border: 1px solid white;
    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
li:hover {
    background-color: white;
    color: black;
}

/* ... */
#new-todos form {
    margin-bottom: .5em;
    margin-top: .5em;
    padding: 1em;
    border: 1px solid white;
    }
    