body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p { 
    font-size: 24px;
    text-align: left;
    text-align: justify;
}

h1, img {
    text-align: center;
}

div.page-break {
    page-break-after: always;
}